on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  zap_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Run OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.6.0
        with:
          target: 'https://google-gruyere.appspot.com/430636331223676360418795753798261692380/'
