name: Check run

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  check-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: ZAP Scan
      uses: ./
      id: action-full-scan
      with:
        target: 'https://google-gruyere.appspot.com/430636331223676360418795753798261692380/'
        allow_issue_writing: false
